@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

body {
    background-color: rgba(40, 36, 46, 255);
    font-family: 'Inter', sans-serif;
    color: white;
    padding-top: 4px;
    margin: 0;
}

h1 {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h2 {
    padding-left: 80px;
    padding-right: 80px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h3 {
    padding-left: 80px;
    padding-right: 80px;
}

p {
    padding-left: 80px;
    padding-right: 80px;
}

a {
    background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 3px 3px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
}

.head-container {
    background-color: rgba(40, 36, 46, 255);
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.first-container {
    background-color: #fff9f4;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    position: relative;
}


/*nav bar*/
.navbar {
    overflow: hidden;
    background-color: #19171c;
    margin: 10px 14px 4px;
}

.navbar a {
    float: left;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #b0afbe;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    border: none;
    outline: none;
    color: #b0afbe;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #c3a791;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #845b4c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* flip card */
.flip-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.flip-card {
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    width: 400px;
    height: 250px;
    perspective: 1000px;
}

.positive {
    background-color: #e8d227;
}

.neutral {
    background-color: #546e1f;
}

.negative {
    background-color: #2f5eb2;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front {
    color: black;
    padding-top: 2em;
}

.flip-card-back {
    color: white;
    transform: rotateY(180deg);
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 2px;
}

#h2-flip {
    color: #1a1818;
    margin: 0.5em;
    line-height: 0.9;
    padding-left: 0;
    padding-right: 0;
}